.flex {
    border: 2px solid black;
    height: 1000px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: start;
    align-content: start;
}

.box {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    margin: 10px;

}

#box1{
    background-color: red;
}

#box2{
    background-color: yellow;
}

#box3{
    background-color: green;
}

#box4{
    background-color: aqua;
}

